{% extends "index.html" %}

{% block content %}
<div class="breadcrumb-class">Está en:<a href="/" target="_self" title="Inicio">Inicio</a>/<a href="/convocatorias" target="_self" title="Convocatorias">Convocatorias</a>/<a href="{{ convocatoria.get_absolute_url }}">{{ convocatoria.tituloConvocatoria }}</a></div>
<ul>
<div class="convocatoriaITEM">
  <li><h3>{{ convocatoria.tituloConvocatoria }}</h3></li>
  <li><strong>Entidad:</strong> <a href="{{ convocatoria.entidadID.paginaWeb }}" target="_blank">{{ convocatoria.entidadID.nombreEntidad }}</a></li>
  <li><strong>Descripción:</strong> {{ convocatoria.descripcion }}</li>
  <li><span id="datePub">Fecha Publicación:</span>{{ convocatoria.fechaPublicacion }}</li>
  <li><span id="dateEnd">Fecha Límite Postulación:</span> {{ convocatoria.fechaLimitePostulacion }}</li>
  <li>
    <span id="btnHermes"><a href="#" class="btn btn-warning" role="button">Registre su proyecto en HERMES</a></span>
    <span id="btnApp"><a href="{{ convocatoria.paginaWebAplicacion }}" target="_blank" class="btn btn-primary" role="button">Aplicar a esta convocatoria</a></span>
  </li>
</div>
</ul>


{% endblock %}
