{% extends "index.html" %}
{% block content %}
<div class="breadcrumb-class">Está en:<a href="/" target="_self" title="Inicio">Inicio</a>/<span>convocatorias</span></div>
  <h1>CONVOCATORIAS VIGENTES</h1>
  {% if lista_convocatorias %}
  <ul>
    {% for convocatoria in lista_convocatorias %}
      <li>
        <a href="{{ convocatoria.get_absolute_url }}">{{ convocatoria.tituloConvocatoria }}</a> ({{convocatoria.fechaPublicacion}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No hay convocatorias para mostrar.</p>
  {% endif %} 
  
{% endblock %}
